import(Matrix)

export(read.dsm, check.dsm)
export(dsm.score)
export(cosine)
export(rowNorms, normalize.rows)
export(dsm.projection)
export(match.split)

S3method(subset, dsm)

S3method(rbind, dsm)
S3method(cbind, dsm)

S3method(merge, dsm)
