export(read.dsm, check.dsm)
export(dsm.score)
export(cosine)
export(rowNorms, normalize.rows)

export(subset.dsm)
S3Method(subset, dsm)

export(rbind.dsm, cbind.dsm)
S3Method(rbind, dsm)
S3Method(cbind, dsm)
