import(Matrix)

useDynLib(wordspace, .registration=TRUE)

export(wordspace.openmp)

# export(dsm.score.old, rowNorms.old, normalize.rows.old, cosine)

export(read.dsm.ucs, read.dsm.triplet, check.dsm)
export(dsm.score)
export(rowNorms, colNorms, normalize.rows, scaleMargins)
export(dsm.projection)
export(dist.matrix, nearest.neighbours, pair.distances)
export(match.split)
export(context.vectors)

S3method(dim, dsm)
S3method(t, dsm)

S3method(subset, dsm)

S3method(rbind, dsm)
S3method(cbind, dsm)

S3method(merge, dsm)
